@charset "utf-8";

* {
		margin:0; padding:0; box-sizing:border-box;
}
html, body {
		font:10pt/180% "맑은 고딕","돋움"; color:#333; background:#f2f2f2;
}
a{
		color:#333; text-decoration:none;
}
a:focus {outline:1px solid blue;}
img {
		display:block;  color:white; height:auto; 
}


#layout {
		width:1200px; margin:auto; background:white; position:relative;
}

/*상단*/
header {
		padding-top:20px; position:absolute; width:100%; z-index:1;
}
header h1 {
		text-align:center; margin-bottom:10px;
}
header img {
		display:block; transform:translateY(-72px); width:25%; margin:auto;
}
button {display:none;}


/*메뉴*/
/*nav:hover nav {
		display:block;
}*/

nav ul {
		display:flex; list-style:none; 
}
nav li {
		flex:1; text-align:center; position:relative; 
}
.mob {display:none;}

/*메인메뉴*/
nav li> a {
		font-weight:bold; font-size:1.2rem; display:block; padding:10px; color:white;
}
nav li>a:hover {
		background:#1b1b1b; color:white; 
}
#nav {transform:translateY(-100px);}

/*서브메뉴*/
nav nav {
		 position:absolute; width:100%; display:none;  z-index:1; opacity:0.9; transform:translateY(-100px); font-weight:bold;
}
nav nav a {
		display:block; color:white; padding:9px; transition:0.5s;
}
nav nav a:hover:not(.blank) {
		background:#1b1b1b; font-weight:bold;  color:white;
}

/*슬라이드*/
header+ section h2 {display:none;}
#slide {position:relative;}
#slide a:not(:first-child) {position:absolute; top:0;}

/*메인(공지사항+갤러리+비즈니스)*/
main {
		display:flex; padding:20px;
}
main> * {}
main>div {flex:1; margin-right:40px;}
main>section {flex:2;}
main> section h2 {transform:translateY(20px);  }

.tlt {
		 display:inline-block; color:#1b1b1b; font-size:1.5rem;  margin-bottom:15px; border:none; font-weight:bold;
}

/*공지사항*/
#notice {margin-bottom:40px;}
#notice ul {list-style:none; line-height:250%;}
#notice li {border-bottom:1px solid #1b1b1b;}
#notice span {float:right;}
#notice a:hover {
		color:black; text-decoration:underline; font-weight:bold;
}
#img img {max-width:100%;}
/*갤러리*/
#gallery {}
#gallery a:hover {
		color:black; text-decoration:underline; font-weight:bold;}
#gallery span {float:right;}
#gallery ul {list-style:none; line-height:250%;}
#gallery li {border-bottom:1px solid #1b1b1b;}



/*하단*/
footer {display:flex; align-items:center; padding:20px; background-color:#1b1b1b;}
footer p {flex:2; color:white;}
footer a {color:white;}
footer select {padding:3px;}
footer a:hover {text-decoration:underline;}

/*****모바일******/
@media(max-width:500px){
	body {width:100vw !important; overflow-x:hidden;}
	main>div {display:none;}
	header h1 a {font-size:2rem;}
	#slide img {height:2000px; width:2300px;}
	#slide {left:-550px;}
	#layout {overflow:hidden;}
	#img img {height:550px;}
	#img img{left:-300px;}
	#img h2 {display:none;}
	header   {background:black;}
	header h1 img {transform:scale(2.5) translate(5px,10px);}
	header nav {display:none;}
	footer {display:none;}
	button {display:block; transform:scale(5) translate(15px,-19px); border:none; background:none; color:white; font-size:1.5rem;}
	.mob {display:none; width:100%; position:absolute; height:230vh; background:white;}
	.mob a {display:flex; flex-direction:column; padding:70px 80px; font-size:3rem; font-weight:bold;	border-bottom:1px solid gray;}
	.mob button {}
	#x {display:none;}
}